



.error-template {position:absolute;left: 32%;top:50px;padding:40px 15px;text-align: center;color: #007FAD}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }